body{
    margin: 0;
    height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(to right, #9FB8AD 50%, #C5D7BD 50%);
}

#logo{
    margin-top: 1%;
    margin-bottom: 1%;
    width: 10%;
    height: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1{
    text-align: center;
    margin: 0 0 5px;
    background-color: #cC2D43;
    padding: 5px;
    font-weight: bold;
    color: #FFFFFF;
}

label{
    font-size: 20px;
}

#form{
    padding: 10px;
    margin: 0px;
}

.text{
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    line-height: 30px;
    display: block;
    margin-top: 15px;
    font-size: 15px;
    letter-spacing: 3px;
}

#container{
    width: 30%;
    height: 60%;
    padding: 0 0;
    margin: auto;
    background: #f4f7f8;
}

#button{
    width: auto;
    background: #CC2D43;
    padding: 5px;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    margin: auto;
}

#page{
    margin-left: auto;
    margin-right: auto;
}